head {
    background-color: rgb(255, 255, 255);
    color: azure;
    text-align: center;
}





body {
    background-color: rgb(255, 255, 255);
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
    color: azure;
    text-align: center;
}