body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    background-color: #000000;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #000000;
    padding: 10px 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Add spacing between p1 and p3 */
.p1 {
    margin-bottom: 10px; /* Adjust the value as needed for spacing */
}

.project-container {
    margin-bottom: 40px; /* Adjust the value as needed for spacing */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}