body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    background-color: #000000;
    color: #fff;
    padding: 20px;
}

nav {
    position: relative;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #000000;
    display: inline-block;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000000;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul li {
    width: 100%;
    display: block;
}

.header-navbar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.project-container {
    margin-bottom: 40px;
}

.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    z-index: 999;
}

#accept-cookie {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#accept-cookie:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}