body {
	background-color: lightblue;
	text-align: center;
}

.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

	.youtube-video-container iframe {
		position: absolute;
		text-align: center;
		top: 15%;
		right: 15%;
		width: 70%;
		height: 70%;
	}