body {
	background-color: lightblue;
	text-align: center;
}

ul {
	font-family: Helvetica, sans-serif;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(32,34,39);
	opacity: 85%;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition-duration: 0.2s;
}

	li a:hover {
		background-color: rgb(0, 0, 0);
	}

.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

	.youtube-video-container iframe {
		position: absolute;
		text-align: center;
		top: 15%;
		right: 15%;
		width: 70%;
		height: 70%;
	}